body{
    background-color: #c9fa9b;
}
p{
background-color: #77d124;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #150773;
}

.name_of_the_object{
    color: #bf0040;
}

#camera{
    border-style: ridge;
    border-color: darkgreen ;
    borde
}